@{
    ViewData["Title"] = "Activitatile mele";
    Layout = "_ExtraActivitiesLayout";
}

<link rel="stylesheet" href="~/assets/css/pages/timeline.css">

<ul class="timeline">
    <li>
        <div class="card">
            <div class="card-body">

                <div class="media mb-4">
                    <div class="media-body text-right">
                        <h6 class="m-0 weight-400">Akshay Kumar</h6>
                        <small class="text-muted">UI/UX Designer Developer</small>
                    </div>
                    <img class="ml-3 rounded" width="40" src="~/assets/images/avtar3.png">
                </div>

                <p>Suspendisse tortor orci, mollis eget venenatis ac, fermentum ut est. Integer vel tellus id nunc rhoncus facilisis. Integer ut tempus nisl. Vivamus faucibus dapibus scelerisque. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec aliquam sed mauris vel commodo. Donec tempus tristique nulla sed tincidunt.</p>

                <button class="px-4 btn btn-success text-white rounded">Take Action</button>


            </div>
        </div>
        <time>
            <h5 class="weight-400 m-0">7:45 am</h5>
            <small class="text-muted">05th September 2013</small>
        </time>
    </li>
    <li>
        <div class="card">
            <div class="card-body">

                <div class="media mb-4">
                    <img class="mr-3 rounded" width="40" src="~/assets/images/avtar2.png">
                    <div class="media-body">
                        <h6 class="m-0 weight-400">Akshay Kumar</h6>
                        <small class="text-muted">UI/UX Designer Developer</small>
                    </div>
                </div>

                <div class="row mb-4">
                    <div class="col"><img class="img-fluid" src="http://freakpixels.com/portfolio/brio/~/assets/images/carousel/4.jpg"></div>
                    <div class="col"><img class="img-fluid" src="http://freakpixels.com/portfolio/brio/~/assets/images/carousel/2.jpg"></div>
                    <div class="col"><img class="img-fluid" src="http://freakpixels.com/portfolio/brio/~/assets/images/carousel/1.jpg"></div>
                </div>



                Aenean porta molestie ex, ac consectetur sem imperdiet in. Mauris nec orci malesuada, pulvinar neque sed, dignissim dui. Ut eu gravida lectus. Quisque volutpat quam risus, et vehicula libero faucibus at. Ut ultricies ornare magna, eu viverra erat.
            </div>
        </div>
        <time>
            <h5 class="weight-400 m-0">7:45 am</h5>
            <small class="text-muted">05th September 2013</small>
        </time>
    </li>
    <li>
        <div class="card">
            <div class="card-body">

                <div class="media mb-4">
                    <div class="media-body text-right">
                        <h6 class="m-0 weight-400">Akshay Kumar</h6>
                        <small class="text-muted">UI/UX Designer Developer</small>
                    </div>
                    <img class="ml-3 rounded" width="40" src="~/assets/images/avtar1.png">
                </div>

                <div id="map" style="height: 250px"></div>


            </div>
        </div>
        <time>
            <h5 class="weight-400 m-0">7:45 am</h5>
            <small class="text-muted">05th September 2013</small>
        </time>
    </li>
    <li>
        <div class="card">
            <div class="card-body">

                <div class="media mb-4">
                    <img class="mr-3 rounded" width="40" src="~/assets/images/avtar2.png">
                    <div class="media-body">
                        <h6 class="m-0 weight-400">Akshay Kumar</h6>
                        <small class="text-muted">UI/UX Designer Developer</small>
                    </div>
                </div>

                <img class="img-fluid W-100" src="http://freakpixels.com/portfolio/brio/~/assets/images/carousel/2.jpg">

            </div>
        </div>
        <time>
            <h5 class="weight-400 m-0">7:45 am</h5>
            <small class="text-muted">05th September 2013</small>
        </time>
    </li>
    <li>
        <div class="card">
            <div class="card-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ipsum lorem, tempor ut justo ac, imperdiet varius velit. Aliquam accumsan, magna ac interdum posuere, elit risus tristique metus, id fermentum ipsum neque et turpis. In orci tortor, imperdiet at arcu non, laoreet fringilla metus. Nam fringilla blandit mi, in mattis augue posuere quis. Sed scelerisque ultrices dapibus. Aliquam sed orci auctor magna semper facilisis. Sed gravida neque sed velit maximus, non pulvinar lacus vulputate. Fusce maximus nisl a est auctor facilisis. Sed vehicula nec urna in hendrerit. Aenean porta molestie ex, ac consectetur sem imperdiet in. Mauris nec orci malesuada, pulvinar neque sed, dignissim dui. Ut eu gravida lectus. Quisque volutpat quam risus, et vehicula libero faucibus at. Ut ultricies ornare magna, eu viverra erat.
            </div>
        </div>
        <time>
            <h5 class="weight-400 m-0">7:45 am</h5>
            <small class="text-muted">05th September 2013</small>
        </time>
    </li>
    <li>
        <div class="card">
            <div class="card-body">
                Sed ultrices euismod purus at tincidunt. In quis purus tortor. Proin porta nibh a sem sollicitudin, non varius velit iaculis. Quisque cursus auctor eros, eget congue est tincidunt ut. Mauris lacinia sit amet libero nec ultricies. Vestibulum suscipit dolor augue, vel vulputate elit tempor dignissim. Nullam ultricies sagittis nibh, ut pretium erat fermentum eget. Curabitur vel convallis massa, vitae porta risus. In suscipit dui ut rhoncus cursus. Vestibulum pellentesque consequat facilisis. Nunc non ex et leo porttitor rutrum sed vel risus. Sed fermentum orci nec felis tempor mollis.


            </div>
        </div>
        <time>
            <h5 class="weight-400 m-0">7:45 am</h5>
            <small class="text-muted">05th September 2013</small>
        </time>
    </li>
    <li>
        <div class="card">
            <div class="card-body">
                Suspendisse tortor orci, mollis eget venenatis ac, fermentum ut est. Integer vel tellus id nunc rhoncus facilisis. Integer ut tempus nisl. Vivamus faucibus dapibus scelerisque. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec aliquam sed mauris vel commodo. Donec tempus tristique nulla sed tincidunt.
            </div>
        </div>
        <time>
            <h5 class="weight-400 m-0">7:45 am</h5>
            <small class="text-muted">05th September 2013</small>
        </time>
    </li>
    <li>
        <div class="card">
            <div class="card-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ipsum lorem, tempor ut justo ac, imperdiet varius velit. Aliquam accumsan, magna ac interdum posuere, elit risus tristique metus, id fermentum ipsum neque et turpis. In orci tortor, imperdiet at arcu non, laoreet fringilla metus. Nam fringilla blandit mi, in mattis augue posuere quis. Sed scelerisque ultrices dapibus. Aliquam sed orci auctor magna semper facilisis. Sed gravida neque sed velit maximus, non pulvinar lacus vulputate. Fusce maximus nisl a est auctor facilisis. Sed vehicula nec urna in hendrerit. Aenean porta molestie ex, ac consectetur sem imperdiet in. Mauris nec orci malesuada, pulvinar neque sed, dignissim dui. Ut eu gravida lectus. Quisque volutpat quam risus, et vehicula libero faucibus at. Ut ultricies ornare magna, eu viverra erat.
            </div>
        </div>
        <time>
            <h5 class="weight-400 m-0">7:45 am</h5>
            <small class="text-muted">05th September 2013</small>
        </time>
    </li>
    <li>
        <div class="card">
            <div class="card-body">
                Sed ultrices euismod purus at tincidunt. In quis purus tortor. Proin porta nibh a sem sollicitudin, non varius velit iaculis. Quisque cursus auctor eros, eget congue est tincidunt ut. Mauris lacinia sit amet libero nec ultricies. Vestibulum suscipit dolor augue, vel vulputate elit tempor dignissim. Nullam ultricies sagittis nibh, ut pretium erat fermentum eget. Curabitur vel convallis massa, vitae porta risus. In suscipit dui ut rhoncus cursus. Vestibulum pellentesque consequat facilisis. Nunc non ex et leo porttitor rutrum sed vel risus. Sed fermentum orci nec felis tempor mollis.


            </div>
        </div>
        <time>
            <h5 class="weight-400 m-0">7:45 am</h5>
            <small class="text-muted">05th September 2013</small>
        </time>
    </li>
    <li>
        <div class="card">
            <div class="card-body">
                Suspendisse tortor orci, mollis eget venenatis ac, fermentum ut est. Integer vel tellus id nunc rhoncus facilisis. Integer ut tempus nisl. Vivamus faucibus dapibus scelerisque. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec aliquam sed mauris vel commodo. Donec tempus tristique nulla sed tincidunt.
            </div>
        </div>
        <time>
            <h5 class="weight-400 m-0">7:45 am</h5>
            <small class="text-muted">05th September 2013</small>
        </time>
    </li>
    <li>
        <div class="card">
            <div class="card-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ipsum lorem, tempor ut justo ac, imperdiet varius velit. Aliquam accumsan, magna ac interdum posuere, elit risus tristique metus, id fermentum ipsum neque et turpis. In orci tortor, imperdiet at arcu non, laoreet fringilla metus. Nam fringilla blandit mi, in mattis augue posuere quis. Sed scelerisque ultrices dapibus. Aliquam sed orci auctor magna semper facilisis. Sed gravida neque sed velit maximus, non pulvinar lacus vulputate. Fusce maximus nisl a est auctor facilisis. Sed vehicula nec urna in hendrerit. Aenean porta molestie ex, ac consectetur sem imperdiet in. Mauris nec orci malesuada, pulvinar neque sed, dignissim dui. Ut eu gravida lectus. Quisque volutpat quam risus, et vehicula libero faucibus at. Ut ultricies ornare magna, eu viverra erat.
            </div>
        </div>
        <time>
            <h5 class="weight-400 m-0">7:45 am</h5>
            <small class="text-muted">05th September 2013</small>
        </time>
    </li>
    <li>
        <div class="card">
            <div class="card-body">
                Sed ultrices euismod purus at tincidunt. In quis purus tortor. Proin porta nibh a sem sollicitudin, non varius velit iaculis. Quisque cursus auctor eros, eget congue est tincidunt ut. Mauris lacinia sit amet libero nec ultricies. Vestibulum suscipit dolor augue, vel vulputate elit tempor dignissim. Nullam ultricies sagittis nibh, ut pretium erat fermentum eget. Curabitur vel convallis massa, vitae porta risus. In suscipit dui ut rhoncus cursus. Vestibulum pellentesque consequat facilisis. Nunc non ex et leo porttitor rutrum sed vel risus. Sed fermentum orci nec felis tempor mollis.


            </div>
        </div>
        <time>
            <h5 class="weight-400 m-0">7:45 am</h5>
            <small class="text-muted">05th September 2013</small>
        </time>
    </li>
</ul>