<div class="row align-items-stretch app-switcher">
    <div class="col-lg-3 col-6 mb-4">
        <a asp-controller="GymApp" asp-action="Index" class="text-dark">
            <div class="card h-100">
                <div class="card-body text-center">
                    <span class="material-icons md-48 " style="color:#21C3E0;">bubble_chart</span>
                    <p class="weight-400 m-0">Sala de forta</p>
                    <small class="weight-300 text-muted">This is some text within a card body.</small>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-6 mb-4">
        <a asp-controller="ExtraActivities" asp-action="Index" class="text-dark">
            <div class="card h-100">
                <div class="card-body text-center">
                    <span class="material-icons md-48 text-primary">security</span>
                    <p class="weight-400 m-0">Activitati extracuriculare</p>
                    <small class="weight-300 text-muted">This is some text within a card body.</small>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-6 mb-4">
        <a asp-controller="MailBoxApp" asp-action="Index" class="text-dark">
            <div class="card h-100">
                <div class="card-body text-center">
                    <span class="material-icons md-48 text-danger">blur_on</span>
                    <p class="weight-400 m-0">Mail Box</p>
                    <small class="weight-300 text-muted">This is some text within a card body.</small>
                </div>
            </div>
        </a>
    </div>

    <div class="col-lg-3 col-6 mb-4">
        <a asp-action="Index" asp-controller="CazareApp" class="text-dark">
            <div class="card h-100">
                <div class="card-body text-center">
                    <span class="material-icons md-48 text-warning">camera</span>
                    <p class="weight-400 m-0">Cazare</p>
                    <small class="weight-300 text-muted">This is some text within a card body.</small>
                </div>
            </div>
        </a>
    </div>


    <div class="col-lg-3 col-6 mb-lg-0 mb-4">
        <a asp-controller="ConcoursesApp" asp-action="Index" class="text-dark">
            <div class="card h-100">
                <div class="card-body text-center">
                    <span class="material-icons md-48" style="color:#f98e69;">accessibility_new</span>
                    <p class="weight-400 m-0">Concursuri</p>
                    <small class="weight-300 text-muted">This is some text within a card body.</small>
                </div>
            </div>
        </a>
    </div>


    <div class="col-lg-3 col-6 mb-lg-0 mb-4">
        <a asp-controller="LibraryApp" asp-action="Index" class="text-dark">
            <div class="card h-100">
                <div class="card-body text-center">
                    <span class="material-icons md-48" style="color:#f98e69;">book</span>
                    <p class="weight-400 m-0">Biblioteca</p>
                    <small class="weight-300 text-muted">This is some text within a card body.</small>
                </div>
            </div>
        </a>
    </div>

    <div class="col-lg-3 col-6 mb-lg-0 mb-4">
        <a asp-controller="ForumApp" asp-action="Index" class="text-dark">
            <div class="card h-100">
                <div class="card-body text-center">
                    <span class="material-icons md-48" style="color:#f98e69;">forum</span>
                    <p class="weight-400 m-0">Forum</p>
                    <small class="weight-300 text-muted">This is some text within a card body.</small>
                </div>
            </div>
        </a>
    </div>
    
    
    <div class="col-lg-3 col-6 mb-lg-0 mb-4">
        <a asp-controller="OrarApp" asp-action="Index" class="text-dark">
            <div class="card h-100">
                <div class="card-body text-center">
                    <span class="material-icons md-48" style="color:#f98e69;">storage</span>
                    <p class="weight-400 m-0">Orar</p>
                    <small class="weight-300 text-muted">This is some text within a card body.</small>
                </div>
            </div>
        </a>
    </div>
    
    
    <div class="col-lg-3 col-6 mb-lg-0 mb-4 mt-4">
        <a asp-controller="NotesApp" asp-action="Index" class="text-dark">
            <div class="card h-100">
                <div class="card-body text-center">
                    <span class="material-icons md-48" style="color:#f98e69;">note</span>
                    <p class="weight-400 m-0">Notes</p>
                    <small class="weight-300 text-muted">This is some text within a card body.</small>
                </div>
            </div>
        </a>
    </div>
    
    
    <div class="col-lg-3 col-6 mb-lg-0 mb-4 mt-4">
        <a asp-controller="ForumApp" asp-action="Index" class="text-dark">
            <div class="card h-100">
                <div class="card-body text-center">
                    <span class="material-icons md-48" style="color:#f98e69;">chrome_reader_mode</span>
                    <p class="weight-400 m-0">Blogger</p>
                    <small class="weight-300 text-muted">This is some text within a card body.</small>
                </div>
            </div>
        </a>
    </div>
    
    
    <div class="col-lg-3 col-6 mb-lg-0 mb-4 mt-4">
        <a asp-controller="ForumApp" asp-action="Index" class="text-dark">
            <div class="card h-100">
                <div class="card-body text-center">
                    <span class="material-icons md-48" style="color:#f98e69;">apps</span>
                    <p class="weight-400 m-0">Moodle</p>
                    <small class="weight-300 text-muted">This is some text within a card body.</small>
                </div>
            </div>
        </a>
    </div>













    <div class="col-lg-3 col-6 mb-lg-0 mb-4 mt-4">
        <a asp-controller="AdmnistrationApp" asp-action="Index" class="text-dark">
            <div class="card h-100">
                <div class="card-body text-center">
                    <span class="material-icons md-48" style="color:#f98e69;">settings_applications</span>
                    <p class="weight-400 m-0">Administration</p>
                    <small class="weight-300 text-muted">This is some text within a card body.</small>
                </div>
            </div>
        </a>
    </div>

</div>