@{
    ViewData["Title"] = "Forum";
    Layout = "_ForumLayout";
}
<div class="card-body ">
    <ul class="messgaes mb-4">

        <li class="media">
            <div class="mr-4"><img src="~/assets/images/avtar4.png" class="user-thumb"></div>
            <div class="media-body messgae-bubble bg-warning-light25 ">
                <h6 class="mt-0 weight-400">kevin Dossey</h6>
                <small class="text-muted weight-300"> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</small>
            </div>
        </li>
        <li class="media flex-row-reverse">

            <div class="media-body from-you mr-4 messgae-bubble bg-light ">
                <h6 class="mt-0 weight-400">kevin Dossey</h6>
                <small class="text-muted weight-300">Fusce condimentum nunc ac nisi vulputate fringilla.</small>
            </div>
        </li>

        <li class="media">
            <div class="mr-4"><img src="~/assets/images/avtar4.png" class="user-thumb"></div>
            <div class="media-body messgae-bubble bg-warning-light25 ">
                <h6 class="mt-0 weight-400">kevin Dossey</h6>
                <small class="text-muted weight-300"> Sure. and Thanks !</small>
            </div>
        </li>
        <li class="media">
            <div class="mr-4"><img src="~/assets/images/avtar4.png" class="user-thumb"></div>
            <div class="media-body messgae-bubble bg-warning-light25 ">
                <h6 class="mt-0 weight-400">kevin Dossey</h6>
                <small class="text-muted weight-300"> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.</small>
            </div>
        </li>
        <li class="media flex-row-reverse">

            <div class="media-body from-you mr-4 messgae-bubble bg-light ">
                <h6 class="mt-0 weight-400">kevin Dossey</h6>
                <small class="text-muted weight-300">Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</small>
            </div>
        </li>
    </ul>

    <hr class="my-4 dashed">

    <div class="media align-items-center">

        <a href="#" class="material-icons md-18 text-muted mr-2">attach_file</a>
        <a href="#" class="material-icons md-18 text-muted mr-3">tag_faces</a>
        <div class="media-body">
            <input type="text" name="" class="form-control border-0" placeholder="Reply Message">
        </div>
        <button class="btn btn-primary btn-sm">Send</button>

    </div>

</div>