@{
    Layout = null;
}

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="~/assets/css/pages/messages.css" rel="stylesheet">
    <!-- Base CSS -->
    <link rel="stylesheet" href="~/assets/css/basestyle/style.css">

    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Date Range Picker -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/daterangepicker/daterangepicker.css" />

    <!-- Full Calendar Icons -->
    <link href="~/assets/css/fullcalendar/fullcalendar.css" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>
<body>

    <div class="card" style="position: absolute; top: 20vh; left: 10vh; right:  10vh">
        <div class="card-body">
            <h3>Bine ai venit pe platforma UTM pentru studenti</h3>

            <h4>Selecteaza aplicatia:</h4>
            <partial name="_Apps" />
        </div>
    </div>


    <script src="~/assets/js/lib/moment.min.js"></script>
    <script src="~/assets/js/lib/jquery.min.js"></script>
    <script src="~/assets/js/lib/popper.min.js"></script>
    <script src="~/assets/js/bootstrap/bootstrap.min.js"></script>
    <script src="~/assets/js/chosen-js/chosen.jquery.js"></script>


    <script src="~/assets/js/custom.js"></script>
</body>
</html>
