@{
    ViewData["Title"] = "Home page";
    Layout = "_OrarLayout";
}

<!-- Fullcalendar Icons -->
<link href="~/assets/css/fullcalendar/fullcalendar.css" rel="stylesheet">


<div id="calendar" class="bg-white"></div>



@section Scripts
{
    <script src="~/assets/js/fullcalendar/fullcalendar.js"></script>
    <script src="~/assets/js/pages/full-calendar.script.js"></script>
}
